In [1]:
import mysql.connector as conn

In [2]:
db = conn.connect(host = "localhost",user = "root",passwd="admin",use_pure=True)
cursor = db.cursor()
query = "SHOW DATABASES"
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [4]:
db.close()

In [31]:
db = conn.connect(host = "localhost",database = 'glass',user = "root",passwd="admin",use_pure=True)

ProgrammingError: 1049 (42000): Unknown database 'glass'

In [30]:
cursor = db.cursor()
query = "SHOW DATABASES"
cursor.execute(query)
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [7]:
cursor = db.cursor()
query = "SELECT * FROM kids"
cursor.execute(query)
cursor.fetchall()

[]

In [10]:
cursor = db.cursor()
query = "INSERT INTO kids VALUES(1,'sachin','PK','India')"
cursor.execute(query)
db.commit()

In [11]:
cursor = db.cursor()
query = "SELECT * FROM kids"
cursor.execute(query)
cursor.fetchall()

[(1, 'sachin', 'PK', 'India')]

In [12]:
cursor = db.cursor()
query = "INSERT INTO kids (FirstName,LastName) VALUES('vishal','jude')"
cursor.execute(query)
db.commit()

In [13]:
cursor = db.cursor()
query = "SELECT * FROM kids"
cursor.execute(query)
cursor.fetchall()

[(1, 'sachin', 'PK', 'India'), (None, 'vishal', 'jude', None)]

In [15]:
cursor = db.cursor()
query = "SELECT * FROM kids WHERE City is NULL"
cursor.execute(query)
cursor.fetchall()

[(None, 'vishal', 'jude', None)]

In [33]:
db.close()

In [27]:

query = "DROP TABLE kids;"
cursor.execute(query)

------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Creating Glass Database

In [40]:
db = conn.connect(host = "localhost",user = "root",passwd="admin",use_pure = True)
cursor = db.cursor()
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [41]:
cursor = db.cursor()
cursor.execute('CREATE DATABASE Glass;')
print('DB created')

DB created

In [42]:
cursor = db.cursor()
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[('glass',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]